* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/alt.xsl -text
/apertium-sh-sl.post-sh.dix -text
/apertium-sh-sl.post-sl.dix -text
/apertium-sh-sl.sh-sl.dix -text
/apertium-sh-sl.sh-sl.dix.old -text
/apertium-sh-sl.sh-sl.lex -text
/apertium-sh-sl.sh-sl.rlx -text
/apertium-sh-sl.sh-sl.t1x -text
/apertium-sh-sl.sh-sl.t2x -text
/apertium-sh-sl.sh-sl.t3x -text
/apertium-sh-sl.sh.metadix -text
/apertium-sh-sl.sh.tsx -text
/apertium-sh-sl.sl-sh.t1x -text
/apertium-sh-sl.sl-sh.t2x -text
/apertium-sh-sl.sl-sh.t3x -text
/apertium-sh-sl.sl.dix -text
/autogen.sh -text
/config.in -text
/configure.ac -text
dev/apertium-sh-sl.sh-sl.dix.generated -text
dev/apertium-sl-sr.sl-sr.dix -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/missing-words.sh -text
dev/sh_HR.translated.txt -text
dev/sh_original.txt -text
dev/sl.translated.txt -text
dev/sl_original.txt -text
dev/testvoc-summary.sh-sl.txt -text
dev/testvoc-summary.sl-sh.txt -text
dev/testvoc.sh -text
/install-sh -text
/k.sh -text
/modes.xml -text
/regression-tests.sh -text
/separate.sh -text
/sh-sl.prob -text
/sl-sh.prob -text svneol=unset#unset
/translate_stories.sh -text
/zamjenice.txt -text
