* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/NOTES -text
/README -text
/alt.xsl -text
/apertium-hbs-slv.hbs-slv.dix -text
/apertium-hbs-slv.hbs-slv.dix.old -text
/apertium-hbs-slv.hbs-slv.lex -text
/apertium-hbs-slv.hbs-slv.lrx -text
/apertium-hbs-slv.hbs-slv.rlx -text
/apertium-hbs-slv.hbs-slv.t1x -text
/apertium-hbs-slv.hbs-slv.t2x -text
/apertium-hbs-slv.hbs-slv.t3x -text
/apertium-hbs-slv.hbs.acx -text
/apertium-hbs-slv.hbs.metadix -text
/apertium-hbs-slv.hbs.tsx -text
/apertium-hbs-slv.post-hbs.dix -text
/apertium-hbs-slv.post-slv.dix -text
/apertium-hbs-slv.slv-hbs.rlx -text
/apertium-hbs-slv.slv-hbs.t1x -text
/apertium-hbs-slv.slv-hbs.t2x -text
/apertium-hbs-slv.slv-hbs.t3x -text
/apertium-hbs-slv.slv-hbs_BS.lrx -text
/apertium-hbs-slv.slv-hbs_HR.lrx -text
/apertium-hbs-slv.slv-hbs_SR.lrx -text
/apertium-hbs-slv.slv.acx -text
/apertium-hbs-slv.slv.dix -text
/apertium-hbs-slv.slv.tsx -text
/autogen.sh -text
/config.in -text
/configure.ac -text
dev/adverbs-neosnovniki-prevedeno.txt -text
dev/amigos_adjectives.txt -text
dev/amigos_nouns.txt -text
dev/amigos_vblex.txt -text
dev/apertium-sh-sl.sh-sl.dix.generated -text
dev/apertium-sl-sr.sl-sr.dix -text
dev/eval/corpora/Makefile -text
dev/eval/corpora/rezultat -text
dev/eval/errors_story1.txt -text
dev/eval/errors_story2.txt -text
dev/eval/sh-sl_story1/README -text
dev/eval/sh-sl_story1/translate.sh -text
dev/eval/sh-sl_story1/unknown.words.sh -text
dev/eval/sh-sl_story2/README -text
dev/eval/sh-sl_story2/translate.sh -text
dev/eval/sl-sh_story1/README -text
dev/eval/sl-sh_story1/translate.sh -text
dev/eval/sl-sh_story2/README -text
dev/eval/sl-sh_story2/translate.sh -text
dev/eval/story1_hr.txt -text
dev/eval/story1_sl.txt -text
dev/eval/story1_sl_uncorrected.txt -text
dev/eval/story1_sl_uncorrected_google.txt -text
dev/eval/story2_hr.txt -text
dev/eval/story2_sl.txt -text
dev/eval/story2_sl_uncorrected.txt -text
dev/eval/ustav-sfrj/ustav-raw.sh -text
dev/eval/ustav-sfrj/ustav-raw.sl -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/missing-words.sh -text
dev/paper/eval-gtrans/README -text
dev/paper/eval-gtrans/apertium-eval-translator.pl -text
dev/paper/eval-gtrans/bhs-sl/apertium-eval-translator.pl -text
dev/paper/eval-gtrans/bhs-sl/evaluate.sh -text
dev/paper/eval-gtrans/bhs-sl/jame.WER.PER.txt -text
dev/paper/eval-gtrans/bhs-sl/jame.sh-sl -text
dev/paper/eval-gtrans/bhs-sl/jame.sl.original.txt -text
dev/paper/eval-gtrans/bhs-sl/maraton.WER.PER.txt -text
dev/paper/eval-gtrans/bhs-sl/maraton.sh-sl -text
dev/paper/eval-gtrans/bhs-sl/maraton.sl.original.txt -text
dev/paper/eval-gtrans/bhs-sl/mercator.WER.PER.txt -text
dev/paper/eval-gtrans/bhs-sl/mercator.sh-sl -text
dev/paper/eval-gtrans/bhs-sl/mercator.sl.original.txt -text
dev/paper/eval-gtrans/bhs-sl/sonce.WER.PER.txt -text
dev/paper/eval-gtrans/bhs-sl/sonce.sh-sl -text
dev/paper/eval-gtrans/bhs-sl/sonce.sl.original.txt -text
dev/paper/eval-gtrans/bhs-sl/volitve.WER.PER.txt -text
dev/paper/eval-gtrans/bhs-sl/volitve.sh-sl -text
dev/paper/eval-gtrans/bhs-sl/volitve.sl.original.txt -text
dev/paper/eval-gtrans/jame.bhs.original.txt -text
dev/paper/eval-gtrans/jame.sl.original.txt -text
dev/paper/eval-gtrans/maraton.bhs.original.txt -text
dev/paper/eval-gtrans/maraton.sl.original.txt -text
dev/paper/eval-gtrans/mercator.bhs.original.txt -text
dev/paper/eval-gtrans/mercator.sl.original.txt -text
dev/paper/eval-gtrans/prevedi.sh -text
dev/paper/eval-gtrans/sl-bhs/apertium-eval-translator.pl -text
dev/paper/eval-gtrans/sl-bhs/evaluate.sh -text
dev/paper/eval-gtrans/sl-bhs/jame.WER.PER.txt -text
dev/paper/eval-gtrans/sl-bhs/jame.bhs.original.txt -text
dev/paper/eval-gtrans/sl-bhs/jame.sl-sh -text
dev/paper/eval-gtrans/sl-bhs/maraton.WER.PER.txt -text
dev/paper/eval-gtrans/sl-bhs/maraton.bhs.original.txt -text
dev/paper/eval-gtrans/sl-bhs/maraton.sl-sh -text
dev/paper/eval-gtrans/sl-bhs/mercator.WER.PER.txt -text
dev/paper/eval-gtrans/sl-bhs/mercator.bhs.original.txt -text
dev/paper/eval-gtrans/sl-bhs/mercator.sl-sh -text
dev/paper/eval-gtrans/sl-bhs/sonce.sl-sh -text
dev/paper/eval-gtrans/sl-bhs/sunce.WER.PER.txt -text
dev/paper/eval-gtrans/sl-bhs/sunce.bhs.original.txt -text
dev/paper/eval-gtrans/sl-bhs/volitve.WER.PER.txt -text
dev/paper/eval-gtrans/sl-bhs/volitve.bhs.original.txt -text
dev/paper/eval-gtrans/sl-bhs/volitve.sl-sh -text
dev/paper/eval-gtrans/sonce.sl.original.txt -text
dev/paper/eval-gtrans/sunce.bhs.original.txt -text
dev/paper/eval-gtrans/translate_and_evaluate.sh -text
dev/paper/eval-gtrans/volitve.bhs.original.txt -text
dev/paper/eval-gtrans/volitve.sl.original.txt -text
dev/paper/eval/README -text
dev/paper/eval/apertium-eval-translator.pl -text
dev/paper/eval/bhs-sl/apertium-eval-translator.pl -text
dev/paper/eval/bhs-sl/evaluate.sh -text
dev/paper/eval/bhs-sl/jame.WER.PER.txt -text
dev/paper/eval/bhs-sl/jame.sh-sl -text
dev/paper/eval/bhs-sl/jame.sl.original.txt -text
dev/paper/eval/bhs-sl/maraton.WER.PER.txt -text
dev/paper/eval/bhs-sl/maraton.sh-sl -text
dev/paper/eval/bhs-sl/maraton.sl.original.txt -text
dev/paper/eval/bhs-sl/mercator.WER.PER.txt -text
dev/paper/eval/bhs-sl/mercator.sh-sl -text
dev/paper/eval/bhs-sl/mercator.sl.original.txt -text
dev/paper/eval/bhs-sl/sonce.WER.PER.txt -text
dev/paper/eval/bhs-sl/sonce.sh-sl -text
dev/paper/eval/bhs-sl/sonce.sl.original.txt -text
dev/paper/eval/bhs-sl/volitve.WER.PER.txt -text
dev/paper/eval/bhs-sl/volitve.sh-sl -text
dev/paper/eval/bhs-sl/volitve.sl.original.txt -text
dev/paper/eval/jame.bhs.original.txt -text
dev/paper/eval/jame.sl.original.txt -text
dev/paper/eval/maraton.bhs.original.txt -text
dev/paper/eval/maraton.sl.original.txt -text
dev/paper/eval/mercator.bhs.original.txt -text
dev/paper/eval/mercator.sl.original.txt -text
dev/paper/eval/prevedi.sh -text
dev/paper/eval/sl-bhs/apertium-eval-translator.pl -text
dev/paper/eval/sl-bhs/evaluate.sh -text
dev/paper/eval/sl-bhs/jame.WER.PER.txt -text
dev/paper/eval/sl-bhs/jame.bhs.original.txt -text
dev/paper/eval/sl-bhs/jame.sl-sh -text
dev/paper/eval/sl-bhs/maraton.WER.PER.txt -text
dev/paper/eval/sl-bhs/maraton.bhs.original.txt -text
dev/paper/eval/sl-bhs/maraton.sl-sh -text
dev/paper/eval/sl-bhs/mercator.WER.PER.txt -text
dev/paper/eval/sl-bhs/mercator.bhs.original.txt -text
dev/paper/eval/sl-bhs/mercator.sl-sh -text
dev/paper/eval/sl-bhs/sonce.sl-sh -text
dev/paper/eval/sl-bhs/sunce.WER.PER.txt -text
dev/paper/eval/sl-bhs/sunce.bhs.original.txt -text
dev/paper/eval/sl-bhs/volitve.WER.PER.txt -text
dev/paper/eval/sl-bhs/volitve.bhs.original.txt -text
dev/paper/eval/sl-bhs/volitve.sl-sh -text
dev/paper/eval/sonce.sl.original.txt -text
dev/paper/eval/sunce.bhs.original.txt -text
dev/paper/eval/translate_and_evaluate.sh -text
dev/paper/eval/volitve.bhs.original.txt -text
dev/paper/eval/volitve.sl.original.txt -text
dev/paper/lrec2014_version/Makefile -text
dev/paper/lrec2014_version/apertium-hbs-slv.bib -text
dev/paper/lrec2014_version/apertium-hbs-slv.tex -text
dev/paper/lrec2014_version/conclusions.tex -text
dev/paper/lrec2014_version/coveragetable.tex -text
dev/paper/lrec2014_version/design.tex -text
dev/paper/lrec2014_version/development.tex -text
dev/paper/lrec2014_version/disambiguation.tex -text
dev/paper/lrec2014_version/evaluation.tex -text
dev/paper/lrec2014_version/images/Makefile -text
dev/paper/lrec2014_version/images/chart-eps-converted-to.pdf -text
dev/paper/lrec2014_version/images/chart.eps -text
dev/paper/lrec2014_version/images/chart.obj -text
dev/paper/lrec2014_version/images/chart.png -text
dev/paper/lrec2014_version/introduction.tex -text
dev/paper/lrec2014_version/lexicaltransfer.tex -text
dev/paper/lrec2014_version/lrec2006.bst -text
dev/paper/lrec2014_version/lrec2006.sty -text
dev/paper/lrec2014_version/quantitativeevaluationtable.tex -text
dev/paper/lrec2014_version/transfer.tex -text
dev/paper/mtsxiv_version/Makefile -text
dev/paper/mtsxiv_version/conclusions.tex -text
dev/paper/mtsxiv_version/coveragetable.tex -text
dev/paper/mtsxiv_version/design.tex -text
dev/paper/mtsxiv_version/development.tex -text
dev/paper/mtsxiv_version/disambiguation.tex -text
dev/paper/mtsxiv_version/evaluation.tex -text
dev/paper/mtsxiv_version/images/Makefile -text
dev/paper/mtsxiv_version/images/chart-eps-converted-to.pdf -text
dev/paper/mtsxiv_version/images/chart.eps -text
dev/paper/mtsxiv_version/images/chart.obj -text
dev/paper/mtsxiv_version/images/chart.png -text
dev/paper/mtsxiv_version/introduction.tex -text
dev/paper/mtsxiv_version/lexicaltransfer.tex -text
dev/paper/mtsxiv_version/lingmacros.sty -text
dev/paper/mtsxiv_version/mtsxiv.bst -text
dev/paper/mtsxiv_version/mtsxiv.sty -text
dev/paper/mtsxiv_version/mtsxivslsh.aux -text
dev/paper/mtsxiv_version/mtsxivslsh.bbl -text
dev/paper/mtsxiv_version/mtsxivslsh.bib -text
dev/paper/mtsxiv_version/mtsxivslsh.blg -text
dev/paper/mtsxiv_version/mtsxivslsh.log -text
dev/paper/mtsxiv_version/mtsxivslsh.pdf -text svneol=unset#unset
dev/paper/mtsxiv_version/mtsxivslsh.tex -text
dev/paper/mtsxiv_version/multibib.sty -text
dev/paper/mtsxiv_version/quantitativeevaluationtable.tex -text
dev/paper/mtsxiv_version/transfer.tex -text
dev/sh_HR.translated.txt -text
dev/sh_original.txt -text
dev/sl.translated.txt -text
dev/sl_original.txt -text
dev/story_Pavao1_HR_original.txt -text
dev/story_Pavao1_SL_original.txt -text
dev/story_Pavao2_HR_original.txt -text
dev/testvoc-summary.sh-sl.txt -text
dev/testvoc-summary.sl-sh.txt -text
dev/testvoc.sh -text
dev/zamjenice.txt -text
/hbs-slv.prob -text
/k.sh -text
/modes.xml -text
/paradigm-test.sh -text
/regression-tests.sh -text
/separate.sh -text
/slv-hbs.prob -text svneol=unset#unset
/test-hbs-slv.sh -text
/test-slv-hbs.sh -text
/translate_stories.sh -text
