* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/NOTES -text
/README -text
/adverbs-neosnovniki-prevedeno.txt -text
/alt.xsl -text
/amigos_adjectives.txt -text
/amigos_nouns.txt -text
/amigos_vblex.txt -text
/apertium-sh-sl.post-sh.dix -text
/apertium-sh-sl.post-sl.dix -text
/apertium-sh-sl.sh-sl.dix -text
/apertium-sh-sl.sh-sl.dix.old -text
/apertium-sh-sl.sh-sl.lex -text
/apertium-sh-sl.sh-sl.rlx -text
/apertium-sh-sl.sh-sl.t1x -text
/apertium-sh-sl.sh-sl.t2x -text
/apertium-sh-sl.sh-sl.t3x -text
/apertium-sh-sl.sh.acx -text
/apertium-sh-sl.sh.metadix -text
/apertium-sh-sl.sh.tsx -text
/apertium-sh-sl.sl-sh.rlx -text
/apertium-sh-sl.sl-sh.t1x -text
/apertium-sh-sl.sl-sh.t2x -text
/apertium-sh-sl.sl-sh.t3x -text
/apertium-sh-sl.sl-sh_BS.lrx -text
/apertium-sh-sl.sl-sh_HR.lrx -text
/apertium-sh-sl.sl-sh_SR.lrx -text
/apertium-sh-sl.sl.acx -text
/apertium-sh-sl.sl.dix -text
/autogen.sh -text
/config.in -text
/configure.ac -text
dev/apertium-sh-sl.sh-sl.dix.generated -text
dev/apertium-sl-sr.sl-sr.dix -text
dev/eval/corpora/Makefile -text
dev/eval/corpora/rezultat -text
dev/eval/errors_story1.txt -text
dev/eval/errors_story2.txt -text
dev/eval/sh-sl_story1/README -text
dev/eval/sh-sl_story1/translate.sh -text
dev/eval/sh-sl_story1/unknown.words.sh -text
dev/eval/sh-sl_story2/README -text
dev/eval/sh-sl_story2/translate.sh -text
dev/eval/sl-sh_story1/README -text
dev/eval/sl-sh_story1/translate.sh -text
dev/eval/sl-sh_story2/README -text
dev/eval/sl-sh_story2/translate.sh -text
dev/eval/story1_hr.txt -text
dev/eval/story1_sl.txt -text
dev/eval/story1_sl_uncorrected.txt -text
dev/eval/story1_sl_uncorrected_google.txt -text
dev/eval/story2_hr.txt -text
dev/eval/story2_sl.txt -text
dev/eval/story2_sl_uncorrected.txt -text
dev/eval/ustav-sfrj/ustav-raw.sh -text
dev/eval/ustav-sfrj/ustav-raw.sl -text
dev/inconsistency-summary.sh -text
dev/inconsistency.sh -text
dev/missing-words.sh -text
dev/paper/Makefile -text
dev/paper/conclusions.tex -text
dev/paper/design.tex -text
dev/paper/development.tex -text
dev/paper/disambiguation.tex -text
dev/paper/evaluation.tex -text
dev/paper/images/chart.png -text
dev/paper/introduction.tex -text
dev/paper/lexicaltransfer.tex -text
dev/paper/mtsxiv.bst -text
dev/paper/mtsxiv.sty -text
dev/paper/mtsxivslsh.bib -text
dev/paper/mtsxivslsh.tex -text
dev/paper/transfer.tex -text
dev/sh_HR.translated.txt -text
dev/sh_original.txt -text
dev/sl.translated.txt -text
dev/sl_original.txt -text
dev/story_Pavao1_HR_original.txt -text
dev/story_Pavao1_SL_original.txt -text
dev/story_Pavao2_HR_original.txt -text
dev/testvoc-summary.sh-sl.txt -text
dev/testvoc-summary.sl-sh.txt -text
dev/testvoc.sh -text
/k.sh -text
/modes.xml -text
/paradigm-test.sh -text
/regression-tests.sh -text
/separate.sh -text
/sh-sl.prob -text
/sl-sh.prob -text svneol=unset#unset
/test-sh-sl.sh -text
/test-sl-sh.sh -text
/translate_stories.sh -text
/zamjenice.txt -text
